{% extends "base_admin.html" %}

{% block title %}Reset Admin Password{% endblock %}
{% block body_class %}admin-auth-page{% endblock %}

{% block content %}

<div class="auth-card">
    <h3>Reset Password</h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="flash-box {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endwith %}

    <form method="POST">
        <label>Enter OTP</label>
        <input type="text" name="otp" required>

        <label>New Password</label>
        <input type="password" name="password" required>

        <button type="submit" class="auth-btn">
            Reset Password
        </button>
    </form>

    <a href="/admin-login" class="auth-link">Back to Login</a>
</div>

{% endblock %}
