<!DOCTYPE html>
<html>
<head>
    <title>Order Successful</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="order-success-page">

<div class="order-success-container">

    <h2 class="success-title">🎉 Your Order is Confirmed!</h2>
    <p class="success-subtitle">
        Thank you for shopping with <strong>SmartCart</strong>.
    </p>

    <div class="order-details-box">
        <p><strong>Order ID:</strong> {{ order.order_id }}</p>
        <p><strong>Payment ID:</strong> {{ order.razorpay_payment_id }}</p>
        <p><strong>Amount Paid:</strong> ₹{{ order.amount }}</p>
        <p><strong>Order Date:</strong> {{ order.created_at }}</p>
    </div>

    <div class="order-items-box">
        <h3>Order Summary</h3>

        <table class="order-items-table">
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Price (₹)</th>
            </tr>

            {% for it in items %}
            <tr>
                <td>{{ it.product_name }}</td>
                <td>{{ it.quantity }}</td>
                <td>{{ it.price }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="order-success-actions">
        <a href="/user/products" class="order-btn primary-order-btn">
            Continue Shopping
        </a>

        <a href="/user/my-orders" class="order-btn secondary-order-btn">
            View My Orders
        </a>

        <a href="/user/download-invoice/{{ order.order_id }}" 
   class="invoice-btn">
   Download Invoice (PDF)
</a>
    </div>

</div>

</body>
</html>