{% extends "base_user.html" %}

{% block title %}Forgot Password{% endblock %}
{% block body_class %}user-auth-page{% endblock %}

{% block content %}

<div class="auth-card">
    <h3>Forgot Password</h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="flash-box {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endwith %}

    <form method="POST">
        <label>Email</label>
        <input type="email" name="email" required>

        <button type="submit" class="auth-btn">
            Send OTP
        </button>
    </form>

    <a href="/" class="auth-link">Back to Login</a>
</div>

{% endblock %}
